@charset "utf-8";



/* Autor: Bea Couchoud */              

body {
  background-color:#CCCCCC;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  font-size: 48px;
  text-align: center;
}

p {
  padding: 10px;
  font-size: 24px;
}

p#uno {
  position: absolute;
  top: 8%;
  left: 10%;
  width: 80%;
  height: 10%;
  border: #7C6535 2px solid;
  background-color: #FFD47F;
  text-align: center;
}

p#dos {
  position: absolute;
  top: 40%;
  left: 32%;
  width: 35%;
  height: 30%;
  z-index: 2;
  border: #357C35 4px solid;
  background-color: #7FFF7F;
  text-align: center;
}

p#tres {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 35%;
  height: 25%;
  border: #D5D542 4px solid;
  background-color: #FFFF7F;
  text-align: left;
}

p#cuatro {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 35%;
  height: 25%;
  border: #ACC59F 4px solid;
  background-color: #CCFFFF;
  text-align: right;
}

p#cinco {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 35%;
  height: 25%;
  border: #BDA7BD 4px solid;
  background-color: #FFE5FF;
  text-align: left;
}

p#seis {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 35%;
  height: 25%;
  border: #836161 4px solid;
  background-color: #FFB2B2;
  text-align: right;
}

p:hover {
  z-index: 4;
}